header {
    padding-top: 100px;
    background-color: #37424c;
    color: #b2b9bf;
    text-shadow: 1px 1px 1px #000;
    padding-bottom: 80px;
    margin-bottom: -60px;
}

.navbar-default {
    background-color: #42186c;
    color: #f2f2f2;
    margin-bottom: 0px;
    border: 0px;

    .navbar-brand {
        text-shadow: 1px 1px 1px rgba(0,0,0,0.75);
        font-size: 34px;
        line-height: 15px;
        font-family: 'Lobster', cursive;
        color: #f2f2f2;

        &:hover, &:focus {
            color: #0099D4;
        }
    }
}

.well {
    background-color: #fff;

    h2 {
        margin-top: 5px;
    }
}
