doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    link(rel='stylesheet', href='/css/main.css')
    link(rel='stylesheet', href='/css/all.css')
    title Eventify |
      block title
  
  body
    block content
    
    script(src='/js/vendor.js')
    block js
