extends ./layout.jade

block title
  |  Login

block content
  form.form-signin(role='form', method="post", action="/auth/login")
   span#reauth-email.reauth-email
   input#login-username.form-control(type='email', placeholder='Email', name='email', autofocus='')
   input#login-password.form-control(type='password', placeholder='Password', name='password')
   #remember.checkbox
     label
       input(type='checkbox', value='remember')
       |  Remember Me
    button.btn.btn-lg.btn-success.btn-block.btn-signin(type='submit') Login
  a.forgot-password(href='/auth/register')
    | Not registered, click here
