extends ./layout.jade

block title
  |  Login

block content

    body.hold-transition.login-page
      .login-box
        .login-logo
          a(href='../../index2.html')
            b Event
            | ify
      
        .login-box-body
          p.login-box-msg Sign in to start your session
          form(action='../../index2.html', method='post')
            .form-group.has-feedback
              input.form-control(type='email', placeholder='Email')
              span.form-control-feedback.fa.fa-user
              
            .form-group.has-feedback
              input.form-control(type='password', placeholder='Password')
              span.form-control-feedback.fa.fa-lock
              
            .row
              .col-xs-8
                .checkbox.icheck
                  label
                    input(type='checkbox')
                    |  Remember Me
              
              .col-xs-4
                button.btn.btn-primary.btn-block.btn-flat(type='submit') Sign In
                
          a(href='#') I forgot my password
          br
          a.text-center(href='/auth/register') Register a new membership

block js
  script.
    $(function () {
      $('input').iCheck({
      checkboxClass: 'icheckbox_square-blue',
      radioClass: 'iradio_square-blue',
      increaseArea: '20%' // optional
      });
    });
