extends ./layout.jade

block title
  |  Register

block content
  form.form-signin(role='form', method='post', action='/auth/register')
    span#reauth-email.reauth-email
    input#login-username.form-control(type='email', placeholder='Email', name='email', required='', autofocus='')
    input#login-fullname.form-control(type='text', placeholder='Full Name', name='fullName', required='', autofocus='')
    input#login-password.form-control(type='password', placeholder='Password', name='password', required='')
    input#login-confirm.form-control(type='password', placeholder='Confirm Password', name='confirm', required='')

    button.btn.btn-lg.btn-success.btn-block.btn-signin(type='submit') Register
  a.forgot-password(href='/auth/login')
    | Already have an account, click here
