extends ../layout.jade

block title
  |  Users
  
block content
  .row
    .col-lg-12
      .widget
        .widget-title
          i.fa.fa-users
          |  Users
          .pull-right
            a.btn.btn-sm.btn-success(href='#')
              i.fa.fa-plus
              |  New User
        .widget-body.auto.no-padding
          .table-responsive
            table.table
              thead
                tr
                  th Name.
                  th Email.
                  th
                    span.text-success
                      i.fa.fa-check
              tbody
              
                if (users && users.length)
                  each user in users
                              
                      tr
                        td #{user.fullname}
                        td #{user.email}
                        td
                          span.text-success
                            i.fa.fa-check
